section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  section > article {
    display: flex;
    justify-content: space-between;
    min-width: 17.25rem;
    color: white;
    margin: 0.1rem;
    background-color: #737495;
  }

  article > div {
    padding: 0.5rem;
  }

  .controls {
    cursor: pointer;
    background-color: #f96247; 
  }