.App {
  text-align: center;
  flex-grow: 1;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 0px 15px 10px -15px #111;
}

.App-link {
  color: #61dafb;
}

/* form css: */

label {
  display: flex;
  align-items: center;
  align-content: center;
  margin-top: 0.5rem;
}
  
label span {
  color: #737495;
  width: 4.5rem;
}
  
input,
select {
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.4rem;
  color: green;
  border: 2px solid #737495;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
}
  
button {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin: 0.5rem 0 0 auto;
  padding: 0.4rem;
  background-color: green;
  color: white;
  border: none;
  outline: none;
}
  
button:hover {
  color: white;
  background-color: #737495;
}

.button {
  font-size: 18px;
  padding: 8px 20px;
  border-radius: 8px;
  background-color: #50DCB7;
  color: #4A5568;
  border: 2px solid #50DCB7;
}

.button:hover{
  color: white;
  background-color: #1b7c62;
  border: 2px solid #1b7c62;
}

.footer {
  flex-grow: 1;
}
